:root{
    --color-gray : #eee ;
    --color-black : #000 ;
    --color-red: #ff2949;
    --color-white: #f1f1f1;
    --color-purple:#A626d3;
}
button{
    cursor: pointer;
    border: none;
}
*{
    padding: 0;
    margin: 0;
}
.conteiner{
    width: calc(60% - 4rem);
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: var(--color-white);
    padding: 2rem 0;
    .top{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        button{
            width: calc(20% - 1rem);
            border-radius: 5px;
        }
    }
}