 body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
 header{
    background-color: red;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem 0;
}
.header-left{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    h3{
        color: white;
    }
}
.header-right{
    width: 50%;
    display: flex;
    margin: 0 2rem 0 auto;
}
.header-right-div{
 width: calc(25%);   
 a{
    color: white;
    text-decoration: none;
 }
 a:hover{
    color: black;
 }
}
section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.section-top{
    display: flex;
    width: 100%;
}
.section-top-left{
    display: flex;
    width: 30%;
    justify-content: center;
    a{
        text-decoration: none;
    }
}
.section-top-right{
    display: flex;
    width: 30%;
    margin-left: 36rem;
    justify-content: center;
    a{
        text-decoration: none;
    }
}
.jornal-card{
    width: 100%;
    max-width: 720px;
    border-radius: 15px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 23rem;
    .top{
        width: 100% -2rem;
        overflow: hidden;
        margin: 1rem auto;
        display: flex;
        border-radius: 12px;
        img{
            width: 100%;
            height: 100%;
            padding: 3rem;
            size: 200px;
        }
    }
    .body{
        width: cale(100% - 2rem);
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}