:root{
    --color-gray : #eee ;
    --color-black : #000 ;
    --color-red: #ff2949;
    --color-white: #f1f1f1;
    --color-purple:#A626d3;
}
*{
    padding: 0;
    margin: 0;
}
.conteiner{
    width: calc(100% - 4rem);
    margin: 1rem auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .pad{
        aspect-ratio: 1;
        border-radius: 15px;
        cursor: pointer;
        background-color: #000;
        opacity: 0.3;
        width: calc(25% - 2rem);
    }
}
.Active{
    opacity: 1 !important;
}