:root{
    --color-gray : #eee ;
    --color-black : #000 ;
    --color-red: #ff2949;
    }
    #root{
        width: 100%;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        background-color: var(--color-gray);
        border-bottom: 2px solid var(--color-black);
    }
    
        .h1{
            font-size: 2rem;
        }
        *{
            font-family: "Arvo" !important;
            padding: 0;
            transform: ease-in-out 500ms;
            margin: 0;
        
        }
        form{
        width: 100%;
        max-width: 750px;
        display: flex;
        margin: 5rem auto;
        gap: 1rem;
        justify-content: center;
        input{
            padding: 8px 24px;
            min-width: 500px;
            font-size: 2rem;
            outline: none;
            border-radius: 12px;
            border: 3px solid var();
        
        }
        }
        .bt-btn{
            color: #fff;
            background-color: var(--color-black);
            border-radius: 12px;
            cursor: pointer;
            padding: 8px 24px;
            font-weight: 900;
        border: 3px solid var(--color-black);
        font-size: 2rem;
        &:hover{
            background-color: #fff;
            color: var(--color-black);
        }
        }
        .re-btn{
            color: #fff;
            background-color: var(--color-red);
            border-radius: 12px;
            cursor: pointer;
            padding: 8px 24px;
            margin-right: 20rem;
            font-weight: 900;
        border: 3px solid var(--color-red);
        font-size: 1rem;
        &:hover{
            background-color: #fff;
            color: var(--color-red);
        }}
        .ingrdients-div{
            max-width: 900px;
            font-size: 2rem;
            margin: 2rem auto;
        }