body{
    justify-content: center;
    align-items: center;
    margin-left: 13rem;
    background-color: #00bfff;
}
.jornal-card{
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
    border: 10px solid  blue;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .top{
        width: 100% -2rem;
        overflow: hidden;
        margin: 1rem auto;
        display: flex;
        border-radius: 12px;
        img{
            width: 100%;
            height: 100%;
            padding: 3rem;
            size: 200px;
           
        }
    }
    .body{
        width: cale(100% - 2rem);
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}